In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Byron Bay,AU,2022-07-20 06:28:00,-28.6500,153.6167,59.94,62,98,14.32
1,1,Half Moon Bay,US,2022-07-20 06:29:58,37.4636,-122.4286,62.91,88,100,17.27
2,2,Arraial Do Cabo,BR,2022-07-20 06:29:58,-22.9661,-42.0278,68.25,90,0,3.96
3,3,Bluff,NZ,2022-07-20 06:29:59,-46.6000,168.3333,43.81,72,98,10.71
4,4,Verkhnevilyuysk,RU,2022-07-20 06:29:59,63.4453,120.3167,68.72,62,100,7.25

In [4]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Saint-Philippe,RE,2022-07-20 06:30:00,-21.3585,55.7679,75.22,68,49,18.10
7,7,Faanui,PF,2022-07-20 06:30:00,-16.4833,-151.7500,78.04,66,8,7.99
20,20,Ixtapa,MX,2022-07-20 06:30:07,20.7000,-105.2000,84.22,89,0,0.00
23,23,Isangel,VU,2022-07-20 06:30:08,-19.5500,169.2667,78.91,89,40,6.91
29,29,Bethel,US,2022-07-20 06:26:40,41.3712,-73.4140,77.90,83,0,1.01
36,36,Lorengau,PG,2022-07-20 06:30:13,-2.0226,147.2712,83.44,71,93,5.88
40,40,Hasaki,JP,2022-07-20 06:30:15,35.7333,140.8333,95.29,72,99,11.48
43,43,Kapaa,US,2022-07-20 06:25:35,22.0752,-159.3190,80.58,84,100,17.27
44,44,Alyangula,AU,2022-07-20 06:30:16,-13.8483,136.4192,75.70,58,59,13.38
49,49,Toktogul,KG,2022-07-20 06:31:19,41.8708,72.9402,82.89,32,0,4.83

In [20]:
preferred_cities_df.count()

City_ID       235
City          235
Country       235
Date          235
Lat           235
Lng           235
Max Temp      235
Humidity      235
Cloudiness    235
Wind Speed    235
dtype: int64

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
preferred_cities_df.notnull().sum()

City_ID       235
City          235
Country       235
Date          235
Lat           235
Lng           235
Max Temp      235
Humidity      235
Cloudiness    235
Wind Speed    235
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
6   Saint-Philippe      RE     75.22 -21.3585   55.7679
7           Faanui      PF     78.04 -16.4833 -151.7500
20          Ixtapa      MX     84.22  20.7000 -105.2000
23         Isangel      VU     78.91 -19.5500  169.2667
29          Bethel      US     77.90  41.3712  -73.4140
36        Lorengau      PG     83.44  -2.0226  147.2712
40          Hasaki      JP     95.29  35.7333  140.8333
43           Kapaa      US     80.58  22.0752 -159.3190
44       Alyangula      AU     75.70 -13.8483  136.4192
49        Toktogul      KG     82.89  41.8708   72.9402

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Saint-Philippe,RE,75.22,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
7,Faanui,PF,78.04,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
20,Ixtapa,MX,84.22,20.7000,-105.2000,hotel la terminal
23,Isangel,VU,78.91,-19.5500,169.2667,Tanna Lodge
29,Bethel,US,77.90,41.3712,-73.4140,Courtyard by Marriott Danbury
...,...,...,...,...,...,...
541,Stillwater,US,93.47,36.1156,-97.0584,Hampton Inn & Suites Stillwater
542,Morehead,US,78.78,37.2711,-87.1764,CCI Express Inn
543,Muroto,JP,81.39,33.2833,134.1500,Oota Ryokan
545,Asyut,EG,87.98,27.1810,31.1837,فندق ميس إيجيبت Miss Egypt Hotel
547,Cabrera,DO,79.12,19.6426,-69.9049,Terramar Hotel

In [34]:
#add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))