## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,77.40,70,1,13.94,clear sky
1,1,Hilo,US,19.7297,-155.0900,81.28,93,100,3.44,moderate rain
2,2,Coquimbo,CL,-29.9533,-71.3436,55.13,76,100,0.00,overcast clouds
3,3,Babu,CN,24.4167,111.5167,92.17,57,4,2.91,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,74.21,79,99,23.64,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,77.40,70,1,13.94,clear sky
1,1,Hilo,US,19.7297,-155.0900,81.28,93,100,3.44,moderate rain
3,3,Babu,CN,24.4167,111.5167,92.17,57,4,2.91,clear sky
5,5,Wilmington,US,34.2257,-77.9447,82.31,87,40,10.36,scattered clouds
8,8,Avarua,CK,-21.2078,-159.7750,75.25,73,40,18.41,scattered clouds
9,9,Butaritari,KI,3.0707,172.7902,81.70,75,51,6.89,broken clouds
10,10,Albany,US,42.6001,-73.9662,75.38,75,0,4.83,clear sky
12,12,Madison,US,34.7334,-86.5667,81.57,81,40,9.22,scattered clouds
13,13,Bengkulu,ID,-3.8004,102.2655,84.09,69,88,5.44,overcast clouds
14,14,Pierre,US,44.3683,-100.3510,83.86,43,0,11.50,clear sky

In [9]:
# 4a. Determine if there are any empty rows. (run one at a time)

#preferred_cities_df.count()
#preferred_cities_df.isnull().sum()
preferred_cities_df.notnull().sum()

City_ID                256
City                   256
Country                256
Lat                    256
Lng                    256
Max Temp               256
Humidity               256
Cloudiness             256
Wind Speed             256
Current Description    256
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#preferred_cities_df = preferred_cities_df.dropna()

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,77.40,clear sky,-9.8000,-139.0333,
1,Hilo,US,81.28,moderate rain,19.7297,-155.0900,
3,Babu,CN,92.17,clear sky,24.4167,111.5167,
5,Wilmington,US,82.31,scattered clouds,34.2257,-77.9447,
8,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,
9,Butaritari,KI,81.70,broken clouds,3.0707,172.7902,
10,Albany,US,75.38,clear sky,42.6001,-73.9662,
12,Madison,US,81.57,scattered clouds,34.7334,-86.5667,
13,Bengkulu,ID,84.09,overcast clouds,-3.8004,102.2655,
14,Pierre,US,83.86,clear sky,44.3683,-100.3510,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# Determine if there are any empty rows. (run one at a time)
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [26]:
hotel_df.count()

City                   256
Country                256
Max Temp               256
Current Description    256
Lat                    256
Lng                    256
Hotel Name             237
dtype: int64

In [27]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna(axis=0, subset=['Hotel Name'])
clean_hotel_df.count()

City                   237
Country                237
Max Temp               237
Current Description    237
Lat                    237
Lng                    237
Hotel Name             237
dtype: int64

In [28]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,77.40,clear sky,-9.8000,-139.0333,Villa Enata
1,Hilo,US,81.28,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Babu,CN,92.17,clear sky,24.4167,111.5167,IU Hotel Hezhou Bus Terminal
5,Wilmington,US,82.31,scattered clouds,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
8,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...
671,San Pedro,PH,88.32,scattered clouds,14.3500,121.0167,Palines Apartment and Guesthouse
674,Fare,PF,76.78,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
675,Saint-Georges,GD,80.28,few clouds,12.0564,-61.7485,Radisson Grenada Beach Resort
678,New Iberia,US,83.08,few clouds,30.0035,-91.8187,La Quinta Inn & Suites by Wyndham New Iberia
679,Mogadishu,SO,75.72,light rain,2.0371,45.3438,Hotel Juba

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))